# SatuChain RPC
SATUCHAIN_RPC_URL=https://your-satuchain-rpc.example.com

# Private key of deployer (keep safe!)
DEPLOYER_PRIVATE_KEY=0x...

# Addresses for deployment
SPINGU_TOKEN_ADDRESS=0xb6248d93cf91b00b79fae46d3d4a8b50ac04fd3b

# === TEST WALLETS (hanya untuk testing) ===
# Lihat file TEST_WALLETS.md untuk penjelasan lengkap
FEE_COLLECTOR=0xC6239F498257BdeF5881D73c0cd4C0745D4A45eB
GAME_OPERATOR=0x4aAbC1203F44B9099C2567aDa1d328a5da0d43b9

# Private key operator (hanya untuk backend, jangan dipakai di frontend)
GAME_OPERATOR_PRIVATE_KEY=0x17fc2ab56276553d6a1737cdd7657069c8595fa0ed43acef099e71510d106fb4ThatResolvesGames
